# binaries
*.iso
*.o
*.a
*.zip

# temporay file
tmp

# dependencies
*.d

# miscellaneous dir
build
.vscode
initramfs/bin
initramfs/boot/initramfs.cpio.gz
initramfs/device

# linux kernel image(named bzImage after compilation)
initramfs/boot/kernel-6
