# binaries
*.iso
*.o
*.a
*.zip
*.img
*.tar
*.gz
*.bin
*.asm
Image*
*.sha256sum

# temporay file
tmp
usr

# dependencies
*.d

# miscellaneous dir
build
.vscode
initramfs/bin
initramfs/boot/initramfs.cpio.gz
initramfs/device
initramfs/lib
initramfs/lib64
initramfs/usr

# linux kernel image(named bzImage after compilation)
initramfs/boot/Image*

# custom root file system
rootfs/
usb/

